body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  margin:0;
  padding:0;
  color: grey;
}
header{
  height: 75px;
}
header p{
  margin-top: 20px;
  margin-left: 8%;
  font-size: 28pt;
  font-weight: 700;
  color: #47cc58;
}
ul {
  padding-left:20px;
  list-style:none;
  margin-top:0;
  padding-top: 20px;
}
ul li {
  margin-bottom:10px;
  padding-bottom:20px;
  margin-top:50px;
  border-bottom:1px solid #d3d3d3;
}
ul li a:before {
  content: "\2192";
  margin:0 20px 0 -20px;
  padding-bottom:20px;
  border-bottom:1px solid #d3d3d3;
  color: #d3d3d3;
}
.menuSubMenu{
  padding-left:40px;
  list-style:none;
  margin-top:0;
  padding-top:0;
}
.menuSubMenu li{
  margin: 0;
  padding: 0;
  border-bottom:0;
}
.menuSubMenu li:before{
  content: "\2192";
  margin:0 20px 0 -20px;
  padding-top:20px;
  color: #d3d3d3;
}
.menuSubMenu li:hover:before{
  content: "\2198";
  margin-right:20px;
  padding-bottom:20px;
  color: #999;
}
section h1{
  border-bottom:1px solid #d3d3d3;
  margin-top:50px;
  padding-bottom:20px;
}
section h1 a{
  font-weight:100;
  font-size: 30pt;
  color: #47cc58;
  text-decoration:none;
}
section h1 a:before{
  content: "\2192";
  margin-right:20px;
  padding-bottom:20px;
  border-bottom:1px solid #d3d3d3;
  color: #d3d3d3;
}
section h1 a:hover:before{
  content: "\2198";
  margin-right:20px;
  padding-bottom:20px;
  border-bottom:1px solid #d3d3d3;
  color: #47cc58;
}
.subMenu{
   margin-left:30px;
}
h3 a{
  color: #47cc58;
  text-decoration: none;
}
h3 a:before{
  content: "\2192";
  margin-right:20px;
  color: #d3d3d3;
  text-decoration:none;
}
h3 a:hover:before{
  content: "\2198";
  margin-right:20px;
  padding-bottom:20px;
  color: #47cc58;
}
section article p{
  margin:0;
}

#container {
  width: 84%;
  margin: 0 auto;
  height: auto;
  padding: 0;
}
