body {
  font-family: {Helvetica, Arial, Verdana, Sans-Serif;}
}

/******* Navigtion Styles ************/

.octicon-logo-github {
  color:#000;
}

#navLinks li > a {
  font-weight: bold;
  color:#000;
}

.input-group {
  width:350px;
}

input[type=text] {
  padding:0 10px;
  line-height:14px;
  size: 50px;
  font-family: sans-serif;
  font-size: 12px;
}

.btnAccess{
  margin-top:8px;
  margin-right:35px;
}


/********* Sidebar Styles ************/

img{
  border:1px solid #;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-bottom:0;
}

.sidebar h3 {
  margin-top:0;
  margin-bottom:1.5ex;
  padding-bottom:1.5ex;
  border-bottom:1px solid #eee;
}

.sidebar h3 span {
  font-size: 20pt;
  font-weight: bold;
}
.sidebar h3 small {
  font-size: 15pt;
}

.bio > li {
  font-size:12pt;
}

.bio {
  padding-bottom: 20px;
  margin-bottom:5px;
  border-bottom: 1px solid #eee;
}

.octicon-location, .octicon-mail, .octicon-clock{
  color: #ccc;
  width: 25px;
}

#email a {
  text-decoration:none;
  font-size:11pt;
}


.github-stats {
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 55px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

#followers,#starred,#following{
  text-decoration: none;
}

.stat {
  float: left;
  width: 33.333%;
  font-size: 11px;
  text-transform: capitalize;
}

.stat-count{
  display: block;
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
}

.stat-label{
  color: #999;
}

/********* Main Styles ************/


#repoTabs{
  margin-bottom:3ex;
}

#btnFollow {
  margin-top: -8ex;
  line-height: 12px;
}

.octicon-diff-added, .octicon-repo, .octicon-rss {
  color: #555;
}

#panelRepos, #panelActivity {
  border-color: #fff;
}

#subNavRepos {
  background-color: #fff;
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: transparent;
  border-right-style: solid;
  border-right-width: 1px;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-width: 1px;
}

#repositories .row {
  margin:0;
}

.repoItem {
  line-height:20px;
  margin:0;
  padding:0.5em 1em;
}

.repoItem a {
  text-decoration: none;
  color: #555;
}

.repoIcon {
  float: left; width: 5%; margin-top:0.4ex;color: #777;
}

.repoInfo {
  float: left; width: 85%;color: #777;
}

.repoInfo strong {
  color: #4183c4;
}

.repoStars {
  float: left; width: 10%;text-align:right;margin-top:10px;color: #777;
}

.panel-heading {
  font-weight: bold;
}
