/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
header {
    background-image: url(http://static.tumblr.com/3c7cd96cde56779343d2e9a22afec085/w5gxxfv/oCrn8vkw8/tumblr_static_9cxjqqnfamsccsg4ow84sg8kg.jpg);
    background-repeat: no-repeat;
    height: 399px;
}

body{
	font-family: serif;
}

h1 .headline {
	color: #39474e;
}

#topNav {
	float: right;
	height: 25px;
	margin-top: 5px;
}
#navEdit {
	display: inline-block;
}
#navFollow {
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	text-align: center;
	background-color: #559fca;
	line-height: 25px;
	color: #fff;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}
#navDash {
	text-decoration: none;
	background-color: #2d4661;
	line-height: 25px;
	text-align: center;
	width: 65px;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	font-size: 13pt;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: 5px;
}
#logo {
    margin-top: -45px;
    margin-left: 15%;
    border: 0;
    width: 92px;
}
#logo img {
    width: 92px;
    height: 92px;
}

section {
    width: 50%;
    margin: auto;
		float: right;
		margin-right: 15%;
}

aside {
  float: left;
	width: 20%;
	margin-left: 15%;
	font-family: sans-serif;
}

aside h1 {
	margin-top:25px;
	margin-bottom:30px;
}

aside h1 a {
	text-decoration:none;
	font-size:14pt;
	text-transform:uppercase;
}

aside h1 a:visited {
	color:#666;
}

aside p.txtSummary {
	margin-bottom:20px;
	font-size:14pt;
	font-family:'serif';
	color:grey;
}

aside p.lblSearch {
	margin-bottom:20px;
	color:grey;
	font-size:12px;
	font-weight:bold;
}

aside hr {
	width:68%;
	margin-left:0;
	text-align:left;
	margin-bottom:30px;
	color:grey;
}

article h1 {
	margin-bottom:30px;
	margin-top:10px;
}

article address {
	font-style:italic;
	font-size:20px;
	font-color:#666666;
	margin-bottom:20px;
	color:grey;
}

article h1 a {
	color:#39474e;
	font-size:30pt;
	font-weight:bold;
	font-family:'sans-serif';
	line-height:1.4;
	font-family:sans-serif;
	text-decoration:none;
}

article p {
	margin-bottom:20px;
	font-size:20px;
	line-height:25px;
	color:grey;
}

#share a {
	color: grey;
	text-decoration:none;
	border:1px solid grey;
	padding:5px;
	display:inline;
}

#share {
  float: left;
  width: 580px;
  margin-bottom:20px;
	margin-top:40px;
	color:grey;"
}

#txtTime {
	style="text-decoration:none;
	color:grey;
	float:right;
	border:none;
}
