/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  font-family: 'Open Sans', sans-serif;
}
header{
  height: 75px;
}
header p{
  margin-top: 20px;
  margin-left: 8%;
  font-size: 28pt;
  font-weight: 700;
  color: #47cc58;
}
#container {
  margin: 0 25px;
  padding: 0 10px;
  width: 400px;
}
aside {
  margin-left: 8%;
  float:left;
}
aside h2 {
  margin-top: 0;
  font-size: 40px;
  font-style: normal;
}
aside p {
  margin-bottom: 0;
  text-align: right;
  margin-right: 40%;
  color: #d3d3d3;
}
.oddAside {
  color: #58ff6e;
}
.evenAside {
  color: #47cc58;
}

section {
  width: 60%;
  margin-left: 25%;
  margin-top: 2%;
  padding: 1% 4% 4% 4%;
}
section h1 {
  border-bottom: 1px solid #fff;
  padding-bottom: 2%;
  padding-top: ;
  color: #fff;
  font-size: 30px;
  margin-bottom: 3%;
}
section p{
  color: #fff;
  font-size: 20px;
}
section::before {
  content: '\25c0';
  width: 10px;
  font-size: 40px;
  margin-left: -82px;
  padding: 0;
  margin-top: -200px;
}
.oddSection{
  background-color: #58ff6e;
}
.oddSection::before{
  color: #58ff6e;
}
.evenSection{
  background-color: #47cc58;
}
.evenSection::before{
  color: #47cc58;
}
ul {
  margin: 30px 0 0 0;
  padding: 0;
  list-style:none;
  position: relative;
	z-index: 1;
}
ul::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1%;
  background: #58ff6e;
  left: 20%;
  margin-left: -10px;
	z-index: 2;
}
.icon {
  margin-top: -65px;
	margin-left: 106px;
  width: 40pt;
  height: 40pt;
  border-radius: 50%;
  background-color: #47cc58;
  text-align: center;
  border: 8px solid #58ff6e;
  float: right;
  font-size: 12pt;
	z-index: 3;
}
.fa.fa-mobile {
  margin: 7.5% 25%;
  color: white;
	z-index: 4;
}
.fa.fa-desktop {
  margin: 26% 18%;
  color: white;
	z-index: 4;
}
.fa.fa-hand-o-right {
  margin: 20% 21%;
  color: white;
	z-index: 4;
}
